@{
    if (Session["Admin"] == "1")
    {
        
            if (@ViewBag.GetAll == null)

            {
                <h3>Boş</h3>
            }

            else
            {
                foreach (var item in @ViewBag.GetAll)
                {


                    <li>
                        <table class="Tablo">
                            <tr>
                                <td width="10">
                                    <img src="~/Image/@item.Gender" />
                                </td>
                                <td>
                                    <table style="margin-left:30px;">
                                        <tr>
                                            <td class="Nameoff">Adı Soyadı</td>
                                            <td class="Nameon">@item.FirstName @item.LastName</td>
                                        </tr>
                                        <tr>
                                            <td class="Nameoff">Doktoru</td>
                                            <td class="Nameon">@item.SelectDocker</td>
                                        </tr>


                                    </table>
                                </td>
                                <td class="Yonelme">
                                    <i class="fa fa-chevron-right" aria-hidden="true">
                                        @Html.ActionLink("a", "Index", "Home", new { Key = "1" })
                                    </i>


                                </td>

                            </tr>

                        </table>



                    </li>


                }


            }



        
    }
    else
    {

        <h2>Bu Sayfaya erişim yetkiniz yok.</h2>

    }




}


