
@{if (ViewBag.RandevuBolum == "3")
    {


        using (Ajax.BeginForm("Randevu", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "IndexBook" }))
        {
    <table width="70%" align="center">
        <tr>
        </tr>
        <tr>
            <td colspan="2">
                @{
                   
                        if (ViewBag.AySonu != ViewBag.Bugun + 1)
                        {
                            if (ViewBag.Bugun != ViewBag.IlkHafta)
                            {

                                if ((ViewBag.IlkHafta - 3) == ViewBag.Bugun || ViewBag.Bugun == ViewBag.IlkHafta - 2 || ViewBag.Bugun == ViewBag.IlkHafta - 1)
                                {
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        @{ var sayac = 0;
                                            foreach (var Gun in ViewBag.HGunler)
                                            {
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingOne">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@sayac" aria-expanded="false" aria-controls="flush-collapseOne">
                                                            @{var GunSayisi = (ViewBag.IlkHafta + sayac);}
                                                            <table><tr><td width="100px">@Gun</td><td>@GunSayisi.@ViewBag.Ay.@ViewBag.Yıl</td></tr></table>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-@sayac" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">

                                                            @foreach (var item in ViewBag.GunSaatleri)
                                                            {
                                                                <ul style="list-style-type:none;float:left">
                                                                    <li><div style="font-size: 1.3em; width: 60px; height: 32px; text-align: center; margin: 5px; background: #c3c3c3; color: #fff; margin-top: 15px; ">@item:00</div></li>
                                                                    @foreach (var val in ViewBag.SaatDakikalari)
                                                                    {
                                                                        var DoctorRandevuTimeKontrol = true;
                                                                        foreach (var DoctorTime in ViewBag.DoctorRandevuTime)
                                                                        {

                                                                            if (DoctorTime.Tarih == (GunSayisi + "." + ViewBag.Ay + "." + ViewBag.Yıl) && DoctorTime.Saat == (item + ":" + val))
                                                                            {
                                                                                <li><div style="background: #f55454; width: 70px; border: 1px solid #f55454; margin-top: 5px; color: #fff; text-align: center; cursor: pointer">@item:@val</div></li>
                                                                                DoctorRandevuTimeKontrol = false;
                                                                            }
                                                                        }
                                                                        if (DoctorRandevuTimeKontrol != false)
                                                                        {
                                                                            <li><div id="Tarih" data-id="@item:@val-@GunSayisi.@ViewBag.Ay.@ViewBag.Yıl" style="background: #e7f1ff; width: 70px; border: 1px solid #1969d9; margin-top: 5px; color: #0c63e8;text-align:center;cursor:pointer">@item:@val</div></li>
                                                                        }


                                                                    }
                                                                </ul>

                                                            }
                                                            <br />

                                                        </div>
                                                    </div>
                                                </div>

                                                sayac++;
                                            }
                                        }
                                    </div>
                                }
                                else
                                {


                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        @{var GunBaslangic = 0;}
                                        @for (int i = (ViewBag.IlkHafta - 3); ViewBag.Bugun < i; i--)
                                        {
                                            GunBaslangic++;
                                        }
                                        @{var sayac = 5 - GunBaslangic;}
                                        @for (int i = 1; i < (ViewBag.IlkHafta - 3) - ViewBag.Bugun + 1 || i < 2; i++)
                                        {
                                            @ViewData["Gun"]
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@sayac" aria-expanded="false" aria-controls="flush-collapseOne">
                                                        @{var GunSayisi = ViewBag.Bugun + sayac + 1; }

                                                        <table><tr><td width="100px">@ViewBag.HGunler[sayac]</td><td>@GunSayisi.@ViewBag.Ay.@ViewBag.Yıl</td></tr></table>
                                                    </button>
                                                </h2>
                                                <div id="flush-@sayac" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">

                                                        @foreach (var item in ViewBag.GunSaatleri)
                                                        {
                                                            <ul style="list-style-type:none;float:left">
                                                                <li><div style="font-size: 1.3em; width: 60px; height: 32px; text-align: center; margin: 5px; background: #c3c3c3; color: #fff; margin-top: 15px; ">@item:00</div></li>
                                                                @foreach (var val in ViewBag.SaatDakikalari)
                                                                {
                                                                    var DoctorRandevuTimeKontrol = true;
                                                                    foreach (var DoctorTime in ViewBag.DoctorRandevuTime)
                                                                    {

                                                                        if (DoctorTime.Tarih == (GunSayisi + "." + ViewBag.Ay + "." + ViewBag.Yıl) && DoctorTime.Saat == (item + ":" + val))
                                                                        {
                                                                            <li><div style="background: #f55454; width: 70px; border: 1px solid #f55454; margin-top: 5px; color: #fff; text-align: center; cursor: pointer">@item:@val</div></li>
                                                                            DoctorRandevuTimeKontrol = false;
                                                                        }
                                                                    }
                                                                    if (DoctorRandevuTimeKontrol != false)
                                                                    {
                                                                        <li><div id="Tarih" data-id="@item:@val-@GunSayisi.@ViewBag.Ay.@ViewBag.Yıl" style="background: #e7f1ff; width: 70px; border: 1px solid #1969d9; margin-top: 5px; color: #0c63e8;text-align:center;cursor:pointer">@item:@val</div></li>
                                                                    }


                                                                }
                                                            </ul>

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            sayac++;
                                        }
                                    </div>



                                }



                            }
                            else
                            {

                                //----------------------------------------------
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    @{var sayac = 0;}
                                    @foreach (var Gun in ViewBag.HGunler)
                                    {
                                        if (Gun != "Pazartesi")
                                        {
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@sayac" aria-expanded="false" aria-controls="flush-collapseOne">
                                                        @{var GunSayisi = ViewBag.Bugun + sayac;}

                                                        <table><tr><td width="100px">@Gun</td><td>@GunSayisi.@ViewBag.Ay.@ViewBag.Yıl</td></tr></table>


                                                    </button>
                                                </h2>
                                                <div id="flush-@sayac" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        @foreach (var item in ViewBag.GunSaatleri)
                                                        {
                                                            <ul style="list-style-type:none;float:left">
                                                                <li><div style="font-size: 1.3em; width: 60px; height: 32px; text-align: center; margin: 5px; background: #c3c3c3; color: #fff; margin-top: 15px; ">@item:00</div></li>
                                                                @foreach (var val in ViewBag.SaatDakikalari)
                                                                {
                                                                    var DoctorRandevuTimeKontrol = true;
                                                                    foreach (var DoctorTime in ViewBag.DoctorRandevuTime)
                                                                    {

                                                                        if (DoctorTime.Tarih == (GunSayisi + "." + ViewBag.Ay + "." + ViewBag.Yıl) && DoctorTime.Saat == (item + ":" + val))
                                                                        {
                                                                            <li><div style="background: #f55454; width: 70px; border: 1px solid #f55454; margin-top: 5px; color: #fff; text-align: center; cursor: pointer">@item:@val</div></li>
                                                                            DoctorRandevuTimeKontrol = false;
                                                                        }
                                                                    }
                                                                    if (DoctorRandevuTimeKontrol != false)
                                                                    {
                                                                        <li><div id="Tarih" data-id="@item:@val-@GunSayisi.@ViewBag.Ay.@ViewBag.Yıl" style="background: #e7f1ff; width: 70px; border: 1px solid #1969d9; margin-top: 5px; color: #0c63e8;text-align:center;cursor:pointer">@item:@val</div></li>
                                                                    }


                                                                }
                                                            </ul>

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        sayac++;
                                    }
                                </div>
                                //--------------------------------------------------------------------
                            }
                        }
                        else
                        {



                        }
                    
                }
            </td>
        </tr>
        <tr><td colspan="2"><h3 id="SeciliTarih" style="text-align:center"></h3></td></tr>
        <tr>
        <tr><td colspan="2"><h3 style="text-align:center"></h3></td></tr>
        <tr>
            <td align="center"> <button name="Bolum2" class="AcceptanceNext" style="width:50%;margin:0; margin-top:13px;height:70px;margin-top:50px;" />Geri Dön</td>
            <td align="center"> <button value="" id="BtnRandevuAl" name="Tarih" class="AcceptanceNext" style="width: 50%; margin: 0; margin-top: 13px; height: 70px; margin-top: 50px;" />Devam Et</td>
        </tr>
            @if (ViewBag.RandevuBolumErrorTarih != null)
            {

                <tr><td colspan="2"><h3 style="text-align:center;color:#f55454">@ViewBag.RandevuBolumErrorTarih</h3></td></tr>
            }


        </table>
        <script>
            $(document).ready(function () {
                $("#accordionFlushExample").on("click", "#Tarih", function () {
                    var dataId = $(this).attr("data-id");
                    document.getElementById('SeciliTarih').innerHTML = dataId;
                    $("#BtnRandevuAl").val(dataId);
                })
            })


        </script>
        }
    }
    else if (ViewBag.RandevuBolum=="2")
    {
        //    Doktor seçimi
           using (Ajax.BeginForm("Randevu", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "IndexBook" }))
           {
                <h2 style="text-align:center;margin-top:50px">Doktor Seçimi</h2>
                <table width="40%" align="center" style="margin-top:50px">
                    <tr>
                        <td colspan="2">
                            <select class="select" name="Doctor" style="width:100%">
                                <option>Seçiniz</option>
                                @foreach (var item in ViewBag.RandevuDoctor)
                                {
                                    <option value="@item.Doctor">
                                        @item.Doctor
                                    </option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="left"> <input type="submit" value="Geriye Dön" name="Bolum1" class="AcceptanceNext" style="width:100%;margin:0; margin-top:13px;height:70px" /></td>
                        <td align="left"> <input type="submit" value="Bir Sonraki" class="AcceptanceNext" style="width:100%;margin:0; margin-top:13px;height:70px" /></td>
                    </tr>
                </table>
           }
    }
     else if (ViewBag.RandevuBolum == "4")
            {
              using (Ajax.BeginForm("Randevu", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "IndexBook" }))
              {
                  <table width="55%" align="center" class="TblRandevu" >
                      <tr>
                          <td> <div>@ViewBag.RandevuBilgileri.FirstName</div></td>
                          <td> <div>@ViewBag.RandevuBilgileri.LastName</div></td>
                      </tr> 
                      <tr>
                          <td> <div>@ViewBag.RandevuBilgileri.Tc</div></td>
                          <td> <div>@ViewBag.RandevuBilgileri.Tel</div></td>
                      </tr>  <tr>
                          <td> <div>@ViewBag.RandevuBilgileri.Area</div></td>
                          <td> <div>@ViewBag.RandevuBilgileri.Doctor</div></td>
                      </tr> 
                      <tr>
                          <td> <div>@ViewBag.RandevuBilgileri.Saat</div></td>
                          <td> <div>@ViewBag.RandevuBilgileri.Tarih</div></td>
                      </tr>
                      <tr>
                      <td ><button name="Bolum3"  class="btnRandevu">Düzenle</button></td>
                      <td ><button name="Onay" value="Onay" class="btnRandevu">Onay</button></td>
                      </tr>
                  </table>
                  if(ViewBag.RandevuOnay!=null) {
                        <h3 style="text-align: center; color: #176e22; ">Randevunuz Oluşturuldu</h3>
                  }
       }
                


     }                                                           

    else
    {  // Kişisel bilgiler seçimi
           using (Ajax.BeginForm("Randevu", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "IndexBook" }))
           {
                <h2 style="text-align:center;margin-top:50px">Randevu</h2>
                <table width="80%" align="center" style="margin-top:50px">
                    <tr><td>Adınız</td><td>Soyadınız</td></tr>
                    <tr><td><input type="text" placeholder="Adınız" name="FirstName" class="AcceptanceForm" /></td><td><input type="text" placeholder="Soyadınız" name="LastName" class="AcceptanceForm" /></td></tr>
                    <tr><td>Tc Numaranız</td><td>Tel. Numaranız</td></tr>
                    <tr><td><input type="text" placeholder="Tc Numaranız" name="Tc" class="AcceptanceForm" /></td><td><input type="text" placeholder="Tel. Numaranız" name="Tel" class="AcceptanceForm" /></td></tr>
                    <tr>
                        <td width="50%">

                            <select class="select" name="Area" style="width:80%">
                                <option>Seçiniz</option>
                                @foreach (var item in ViewBag.RandevuArea)
                                {
                                    <option value="@item.Area">
                                        @item.Area
                                    </option>
                                }
                            </select>

                    </td>
                    <td align="left"> <input type="submit" value="Bir Sonraki" class="AcceptanceNext" style="width:80%;margin:0; margin-top:13px;height:70px" /></td>
                     </tr>
                </table>
        }






    }




}
